* {
  margin: 0;
  padding: 0;
}

.homePageButton {
  width: 500px;
  height: 400px;
  margin: 20px;
  background-color: green;
}

/* Inputs */
.StatisticsDefaultInput {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
  width: 300px;
  padding: 16px;
  transition: all 0.15s;
  border-radius: 5px;
  border-color: rgb(0, 132, 255);
}

.StatisticsDefaultInput:hover {
  border-color: blue;
}

.textNextToStatisticsInput {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
  margin-bottom: 5px;
  margin-top: 20px;
}

#enterButtonForStatistics {
  position: absolute;
  left: 50vw;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 70px;
  transform: translateX(-50%);
}

/* Statistics button */
.statisticsCategoryButtons {
  padding: 15px;
  border-radius: 6px;
  border-width: 0;
  background-color: rgb(30, 210, 30);
  transition: all 0.25s;
  cursor: pointer;
  margin-left: 19px;
  margin-right: 19px;
}
.statisticsCategoryButtons:hover {
  background-color: rgb(16, 241, 16);
}

/* Statistics go back button */
#StatisticsGoBackButton {
  background-color: rgb(105, 200, 224);
}

/* Statistics text */
.fontForStatisticsButtons {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}
